@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Orbitron:wght@400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'nasalization';
    src: url(../resources/nasalization-rg.otf);
}

:root{
    --background-color: #0D0D0C;
    --primary-colour: #827AAB;
    --secondary-colour: #C0A8B7;
    --tertiary-color: #4b4363;
    --text-colour:  #F2F2F2;

    --primary-font: 'nasalization', sans-serif;
    --secondary-font: 'Orbitron', sans-serif;
    --tertiary-font: 'Montserrat', sans-serif;

    --main-padding: 8em;
    --main-padding_small: 5.6em;
    --gallery-padding_small: 2em;
}
/*********************
 INFORMATION PROYECT
____________________*/
.infoProyect{
    margin-top: 18em;
    padding-left:var(--main-padding);
    padding-right:var(--main-padding);
    display: flexbox;
    font-size: 10px;
}
h2{
    color: var(--text-colour);
    text-shadow: -1px 1px 0px var(--tertiary-color),
                 -2px 2px 0px var(--tertiary-color),
                 -3px 3px 0px var(--tertiary-color);
    font-family: var(--secondary-font);
    font-weight: 900;
    font-size: 8em;
}
.infoProyect_description{
    display: flex;
    padding: 1em 0 4em 0;
    text-align: justify;
    color: var(--text-colour);
    opacity: .8;
    font-family: var(--tertiary-font);
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 2em;
}
/*********************
        COVER ART
____________________*/
.coverArt{
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    padding-left:var(--main-padding);
    padding-right:var(--main-padding);
}
.coverArt__column1{
    flex: 50%;
    padding-right: var(--gallery-padding_small);
}
.coverArt__column1 img,
.coverArt__column1 video{
    width: 100%;
    padding-bottom: 4em;
}
.coverArt__column2{
    flex: 50%;
    padding-left: var(--gallery-padding_small);
}
.coverArt__column2 video{
    width: 100%;
}
/*********************
    DISEÑO GRÁFICO
____________________*/
.desing__row1,
.desing__row2{
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    padding-left:var(--main-padding);
    padding-right:var(--main-padding);
}
.desing__row1-colum1{
    padding-right: var(--gallery-padding_small);
    padding-bottom: 4em;
    flex: 66%;
}
.desing__row1-colum1 img{
    width: 100%;
}
.desing__row1-colum2{
    padding-left: var(--gallery-padding_small);
    padding-bottom: 4em;
    flex: 33%;
}
.desing__row1-colum2 img{
    width: 100%;
}
.desing__row2-colum1{
    padding-right: var(--gallery-padding_small);
    flex: 30%;
}
.desing__row2-colum2{
    padding: 0 1em;
    flex: 30%;
}
.desing__row2-colum3{
    padding-left: var(--gallery-padding_small);
    flex: 30%;
}
.desing__row2-colum1 img,
.desing__row2-colum2 img,
.desing__row2-colum3 img{
    padding-bottom: 4em;
    width: 100%;
}
.img-phone{
    display: none;
}
/*********************
        LAPTOP
____________________*/
@media screen and (max-width: 1500px){

}


/*********************
        TABLET
____________________*/
@media screen and (max-width: 966px){

}

/*********************
        PHONE
____________________*/
@media screen and (max-width: 500px) {
    .infoProyect{
        font-size: 5.8px;
        padding-left:var(--main-padding_small);
        padding-right:var(--main-padding_small);
    }
    h2{
        font-size: 6.8em;
    }
    .infoProyect_description{
        letter-spacing: 1px;
        padding: 1em 0 2.4em 0;
        font-size: 2.6em;
    }
    .coverArt{
        font-size: 5.8px;
        padding-left:var(--main-padding_small);
        padding-right:var(--main-padding_small);
        flex-direction: column-reverse;

    }
    .coverArt__column1,
    .coverArt__column2{
        padding: 2em 0;
        flex: 100%;
    }
    .desing__row1,
    .desing__row2{
        font-size: 5.8px;
        padding-left:var(--main-padding_small);
        padding-right:var(--main-padding_small);
    }
    .desing__row1-colum1,
    .desing__row1-colum2{
        padding: 0 0 4em 0;
        flex: 100%;
    }

    .desing__row2-colum1,
    .desing__row2-colum2,
    .desing__row2-colum3{
        padding: 0;
        flex: 100%;
    }
    .img-phone{
        display: flex;
    }
    .img-phone-2{
        display: none;
    }
}