@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Orbitron:wght@400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'nasalization';
    src: url(../resources/nasalization-rg.otf);
}

:root{
    --background-color: #0D0D0C;
    --background-color3: #272727;
    --primary-colour: #827AAB;
    --secondary-colour: #C0A8B7;
    --tertiary-color: #4b4363;
    --text-colour:  #F2F2F2;

    --primary-font: 'nasalization', sans-serif;
    --secondary-font: 'Orbitron', sans-serif;
    --tertiary-font: 'Montserrat', sans-serif;

    --main-size__laptop: 6.7;
    --main-size__tablet: 3.8px;
    --main-size__phone: 5px;

    --main-padding: 12em;
    --main-padding_small: 6em;
    --gallery-padding_small: 3em;
}


/*¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨¨
 INFORMATION PROYECT COVER ART
________________________________*/
.infoProyect{
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    padding-top: 14em;
    padding-left:var(--main-padding);
    padding-right:var(--main-padding);
}
.infoProyect__title{
    color: var(--text-colour);
    font-family: var(--secondary-font);
    font-weight: 900;
    font-size: 9.4em;
    opacity: .9;
}
.infoProyect__description{
    padding: 1em 0 4em 0;
    text-align: justify;
    line-height: 1.4em;
    color: var(--text-colour);
    opacity: .7;
    font-family: var(--tertiary-font);
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 2.8em;
}
/*********************
        COVER ART
____________________*/
.coverArt{
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    padding-left:var(--main-padding);
    padding-right:var(--main-padding);
    margin-bottom: 12em;
}
.coverArt__column1{
    flex: 50%;
    padding-right: var(--gallery-padding_small);
}
.coverArt__column1 img{
    width: 100%;
    padding-bottom: 0;
}
.coverArt__column1 video{
    width: 100%;
    padding-bottom: 4em;
}
.coverArt__column2{
    flex: 50%;
    padding-left: var(--gallery-padding_small);
}
.coverArt__column2 video{
    width: 100%;
}

/*********************
    DISEÑO GRÁFICO
____________________*/
.desing__row1,
.desing__row2{
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    padding-left:var(--main-padding);
    padding-right:var(--main-padding);
}
.desing__row1-colum1{
    padding-right: 1em;
    padding-bottom: 4em;
    flex: 66%;
}
.desing__row1-colum1 img{
    width: 100%;
}
.desing__row1-colum2{
    padding-left: var(--gallery-padding_small);
    padding-bottom: 4em;
    flex: 33%;
}
.desing__row1-colum2 img{
    width: 100%;
}
.desing__row2-colum1{
    padding-right: var(--gallery-padding_small);
    flex: 30%;
}
.desing__row2-colum2{
    padding: 0 1em;
    flex: 30%;
}
.desing__row2-colum3{
    padding-left: var(--gallery-padding_small);
    flex: 30%;
}
.desing__row2-colum1 img,
.desing__row2-colum2 img,
.desing__row2-colum3 img{
    padding-bottom: 4em;
    width: 100%;
}
.img-phone{
    display: none;
}



/*********************
    ARROWS
____________________*/
.arrows{
    display: flex;
    flex-wrap: wrap;
    padding-left:var(--main-padding);
    padding-right:var(--main-padding);
    padding-top: 6em;
    justify-content: space-between;
    font-size: 10px;
}
.arrows__prev,
.arrows__next{
    cursor: pointer;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26em;
    height: 8em;
    background-color: var(--background-color3);
    border-radius: .6em;
}
.arrows__prev a,
.arrows__next a{
    user-select: none;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-colour);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 3em;
}














@media (hover: hover){

    .arrows__prev:hover,
    .arrows__next:hover{
        transition: all 0.4s ease-in-out;
        background-color: var(--secondary-colour);
    }
    .arrows__prev:hover a,
    .arrows__next:hover a{
        transition: all 0.4s ease-in-out;
        color: var(--background-color);
    }
}

.arrows__prev svg:active,
.arrows__next svg:active{
    transition: all 0.4s ease-in-out;
    opacity: 1;
}
.arrows__prev span:active,
.arrows__next span:active{
    transition: all 0.4s ease-in-out;
    opacity: 1;
}








/*********************
        LAPTOP
____________________*/
@media screen and (max-width: 1540px){
    .infoProyect{
        font-size: var(--main-size__laptop);
    }
    .coverArt{
        font-size: var(--main-size__laptop);
    }
    .infoProyect2{
        font-size: var(--main-size__laptop);
    }
    .desing__row1,
    .desing__row2{
        font-size: var(--main-size__laptop);
    }
    .arrows{
        font-size: var(--main-size__laptop);
    }
    .arrows__prev,
    .arrows__next{
        font-size: var(--main-size__laptop);
    }
}


/*********************
        TABLET
____________________*/
@media screen and (max-width: 966px){
    .infoProyect{
        font-size: var(--main-size__tablet);
    }
    .coverArt{
        font-size: var(--main-size__tablet);
    }
    .infoProyect2{
        font-size: var(--main-size__tablet);
    }
    .desing__row1,
    .desing__row2{
        font-size: var(--main-size__tablet);
    }
    .arrows{
        font-size: var(--main-size__tablet);
    }
    .arrows__prev,
    .arrows__next{
        font-size: var(--main-size__tablet);
    }
}






/*********************
        PHONE
____________________*/
@media screen and (max-width: 500px) {
    .infoProyect{
        font-size: var(--main-size__phone);
        padding-left:var(--main-padding_small);
        padding-right:var(--main-padding_small);
    }
    .coverArt{
        font-size: var(--main-size__phone);
        padding-left:var(--main-padding_small);
        padding-right:var(--main-padding_small);
        flex-direction: column-reverse;
    }
    .coverArt__column1,
    .coverArt__column2{
        padding: 2em 0;
        flex: 100%;
    }
    .infoProyect2{
        font-size: var(--main-size__phone);
        padding-left:var(--main-padding_small);
        padding-right:var(--main-padding_small);
    }
    .desing__row1,
    .desing__row2{
        font-size: var(--main-size__phone);
        padding-left:var(--main-padding_small);
        padding-right:var(--main-padding_small);
    }
    .desing__row1-colum1,
    .desing__row1-colum2{
        padding: 0 0 4em 0;
        flex: 100%;
    }

    .desing__row2-colum1,
    .desing__row2-colum2,
    .desing__row2-colum3{
        padding: 0;
        flex: 100%;
    }
    .img-phone{
        display: flex;
    }
    .img-phone-2{
        display: none;
    }

    .arrows{
        font-size: var(--main-size__phone);
        padding-left: var(--main-padding_small);
        padding-right: var(--main-padding_small);
    }
    .arrows__prev,
    .arrows__next{
        font-size: var(--main-size__phone);
    }
}