@import url('main.css');

/*********************
        FOOTER
____________________*/
.footer-row1{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-size: 10px;
    background-color: var(--tertiary-color);
    align-items: center;
    margin-top: 36em;
}
.footer-row1__logo{
    order: 2;
    flex: 33%;
    display: flex;
    justify-content: center;
}
.footer-row1__logo img{
    width: 34em;
}
.footer-row1__copy{
    order: 3;
    flex: 33%;
    display: flex;
    justify-content: center;
}
.footer-row1__copy p{
    user-select: none;
    font-weight: 500;
    padding-right: 4em;
    letter-spacing: 1.5px;
    color: var(--secondary-colour);
    font-size: 2.4em;
    opacity: .8;
}

.footer-row1__contact{
    order: 1;
    flex: 33%;
    padding-left: 2.8em;
}
.footer-row1__contact-phone,
.footer-row1__contact-email,
.footer-row1__contact-rrss{
    padding:1.4em 0em;
}

.footer-row1__contact-phone a,
.footer-row1__contact-email a,
.footer-row1__contact-rrss a{
    font-weight: 500;
    text-decoration: none;
    color: var(--secondary-colour);
    font-size: 2.4em;
    padding-left: 2em;
    letter-spacing: 2px;
}
.footer-row1__contact-rrss a{
    text-transform: uppercase;
    font-weight: 700;
    user-select: none;
}

.footer-row2{
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    justify-content: center;
    background-color: var(--primary-colour);
}
.footer-row2 p {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: var(--background-color);
    padding: .5em;
    font-size: 1.8em;
    user-select: none;
}


/******************************
        HOVER // ACTIVE
________________________________*/
@media (hover: hover) {
    .text-hover-2:hover{
        transition: all 0.3s ease-in-out;
        opacity: 1;
        color: var(--text-colour);
        text-shadow: 0 0 10px var(--text-colour);
    }
}

/* ---- */

.text-hover-2:active{
    transition: all 0.3s ease-in-out;
    opacity: 1;
    color: var(--text-colour);
    text-shadow: 0 0 10px var(--text-colour);
}





/*********************
        LAPTOP
____________________*/
@media screen and (max-width: 1540px){
    .footer-row1{
        font-size: var(--main-size__laptop);
    }

    .footer-row2{
        font-size: var(--main-size__laptop);
    }
}


/*********************
        TABLET
____________________*/
@media screen and (max-width: 966px){
    .footer-row1{
        font-size: var(--main-size__tablet);
    }
    .footer-row2{
        font-size: var(--main-size__tablet);
    }
}




/*********************
        PHONE
____________________*/
@media screen and (max-width: 500px) {    
    .footer-row1{
        font-size: var(--main-size__phone);
    }
    .footer-row1__logo{
        order: 1;
        flex: 100%;
        padding-top: 2em;
    }
    
    .footer-row1__contact{
        order: 2;
        flex: 100%;
        padding-bottom: 3em;
    }
    .footer-row1__contact-phone a,
    .footer-row1__contact-email a,
    .footer-row1__contact-rrss a{
        padding-left: 1em;
    }

    .footer-row1__copy{
        order: 3;
        flex: 100%;
    }
    .footer-row1__copy p{
        padding: 0em;
        padding-top: 2em;
        padding-bottom: 4em;
    }
    .footer-row2{
        font-size: var(--main-size__phone);
    }
}