@import url('main.css');

.home{
        display: grid;
        width: 100%;
        overflow: hidden;
        font-size: 10px;
        padding-top: 14em;
        align-items: center;
}
.home__videoBG{
        position: absolute;
        z-index: -1;
        width: 100%;
        top: 0;
        overflow: hidden;
}
.home__lottie{
        padding-left: 1em;
        z-index: 1;
        width: 78%;
}












/*********************
        LAPTOP
____________________*/
@media screen and (max-width: 1540px){
        .home{
                font-size: var(--main-size__laptop);
        }
}


/*********************
        TABLET
____________________*/
@media screen and (max-width: 966px){
        .home{
                font-size: var(--main-size__tablet);
        }
}






/*********************
        PHONE
____________________*/
@media screen and (max-width: 500px) {
        .home{
                font-size: var(--main-size__phone);
        }
}