.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
    flex-direction: column;
}
#home .main-text{
    text-align: center;

}
.line{
    overflow: hidden;

}
#home .main-text p{
    overflow: hidden;
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 120px;
    margin: 10px 0px;
}
#home .main-text p span{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
}
a{
    text-decoration: none;
    color: #B0AA00;
}
.cursor{
    position: absolute;
    background-size: cover;
    width: 450px;
    height: 250px;
    z-index: -1;
    user-select: none;
    pointer-events: none;
    transform: translate(5px,5px);
}
.cursor-follow1{
    background: url(../resources/desing/4-30.webp) no-repeat 50% 50%;
    opacity: 0;
}

.cursor-follow2{
    background: url(../resources/p-gaia.webp) no-repeat 50% 50%;
    opacity: 0;
}

.cursor-follow3{
    background: url(../resources/p-andromeda.png) no-repeat 50% 50%;
    opacity: 0;
}

.cursor-follow4{
    background: url(../resources/p-musica.webp) no-repeat 50% 50%;
    opacity: 0;
}
.line1:hover ~ .cursor-follow1{
    opacity: 1;
}
.line2:hover ~ .cursor-follow2{
    opacity: 1;
}
.line3:hover ~ .cursor-follow3{
    opacity: 1;
}
.line4:hover ~ .cursor-follow4{
    opacity: 1;
}


/*---- 
         Laptop 
__________________________________*/
@media screen and (max-width: 1450px){
    header .logo img{
        margin-left: 50px;
        padding-top: 0px;
        width: 140px;
    }
    header .menu .menu__div a{
        font-size: 14px;
    }
    #home .main-text p{
        font-size: 60px;
    }
    #home .main-text p span{
        font-size: 12px;
    }
}

/*---- 
         Tablet 
__________________________________*/
@media screen and (max-width: 770px){
}

/*---- 
         Phone
__________________________________*/
@media screen and (max-width: 630px){
    header .logo img{
        width: 110px;
    }
    header .menu .menu__div a{
        display: none;
    }
    #home .main-text p{
        font-size: 30px;
        letter-spacing: 0px;
        margin: 10px 0px;
    }
    #home .main-text p span{
        font-size: 8px;
    }
}