@import url('main.css');

.home{
        display: grid;
        width: 100%;
        overflow: hidden;
}
.home__videoBG{
        position: absolute;
        z-index: -1;
        width: 100%;
        top: 0;
        overflow: hidden;
}












/*********************
        LAPTOP
____________________*/
@media screen and (max-width: 1540px){

}


/*********************
        TABLET
____________________*/
@media screen and (max-width: 966px){

}






/*********************
        PHONE
____________________*/
@media screen and (max-width: 500px) {

}