@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'nasalization';
    src: url(../resources/nasalization-rg.otf);
}

:root{
    --background-color: #121212;
    --primary-colour: #1C0C5B;
    --secondary-colour: #1D8C1E;
    --tertiary-color: #916BBF;
    --quaternary-color: #5F20FF;
    --text-colour:  #eee2ff;

    --primaty-font: 'nasalization', sans-serif;
    --secondary-font: 'Goldman', cursive;
    --tertiary-font: 'Roboto', serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background-color);
    font-family: var(--tertiary-font);
    font-size: 10px; /* = 10px */
}

/*********************
        HEADER
____________________*/
.header{
    background-color: var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2em 5em 1em 0;
    z-index: 1000;
}
.header__logo img{
    image-rendering: auto;
    width: 22em;
}
.header__text{
    cursor: pointer;
    font-family:var(--primaty-font);
    display: flex;
    text-decoration: none;
}
.header__text .menu-open{
    text-transform: uppercase;
    color: var(--text-colour);
    letter-spacing: 4px;
    font-weight: 600;
    font-size: 2.2em;
}

/*********************
        MENU
____________________*/
.menu {
    opacity: 0.3;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px;
    position: fixed;
    top: -100vh;
    align-items: center;
    background-color: var(--primary-colour);
    z-index: 1900;
}
.menu__background {
    position: absolute;
    font-size: 20rem;
    font-weight: 900;
    color: #5e62b642;
    user-select: none;
    z-index: 1;
    filter: blur(6px);
}

.menu-exit {
    font-family: var(--primaty-font);
    position: absolute;
    text-decoration: none;
    right: 60px;
    top: 60px;
    color: var(--text-colour);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
}
.nav-gsap {
    opacity: 0;
    margin-bottom: -20px;
} 
.menu__nav-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 80px;
    font-weight: 900;
    letter-spacing: 4px;
    z-index: 2000;
    color: var(--text-colour);
}
.small-number {
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 4px;
    z-index: 1000;
}

.contact__title {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 2px;
    color: var(--tertiary-color);
}
.contact__subtitle {
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--text-colour);
    transition: all 0.4s ease-in-out;
}
.right {
    padding-right: 120px;
    z-index: 1000;
}
.contact {
    margin: 60px 0px;
}
.menu__links {
    padding-left: 60px;
    z-index: 200;
}
.contact__rrss > a {
    padding-right: 80px;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 2px;
    color: var(--tertiary-color);
    transition: all 0.4s ease-in-out;
}

/*********************
        PRELOADER
____________________*/
#loader{
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3000;
}
#loader img{
    image-rendering: auto;
    width: 36em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



/*********************
        HOVER
____________________*/
@media (hover: hover) {
    .text-hover:hover{
        transition: all 0.2s ease-in-out;
        color: var(--secondary-colour);
    }
    .header__text .menu-open:hover{
        transition: all 0.2s ease-in-out;
        color: var(--quaternary-color);
    }
}

/*********************
    SELECT - ACTIVE
____________________*/
.text-hover:active {
    transition: all 0.2s ease-in-out;
    color: var(--secondary-colour);
}
.header__text .menu-open:active{
    transition: all 0.2s ease-in-out;
    color: var(--quaternary-color);
}


/*********************
        LAPTOP
____________________*/
@media screen and (max-width: 1600px){
    body{
        font-size: 7px;
    }

    
   /*  
    .menu-exit {
        right: 40px;
        top: 32px;
        font-size: 14px;
    }
    .menu__background{
        font-size: 240px;
    }
    .menu__links {
        padding-left: 28px;
    }
    .menu__nav-link {
        font-size: 48px;
        letter-spacing: 1px;
    }
    .small-number {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .right {
        padding-right: 100px;
    }
    .contact {
        margin: 40px 0px;
    }
    .contact__title {
        font-size: 24px;
        letter-spacing: 1px;
    }
    .contact__subtitle {
        font-size: 18px;
        letter-spacing: 1px;
    }
    .contact__rrss > a {
        padding-right: 40px;
        font-size: 24px;
        letter-spacing: 1px;
    } */

}

/*********************
        PHONE
____________________*/
@media screen and (max-width: 720px) {
    body{
        font-size: 6px;
    }

    /* .menu {
        flex-direction: column;
        justify-content: center;
    }
    .right {
        display: none;
    }

    .header{
        height: 80px;
    }
 
    .header__logo img{
        width: 120px;
        margin-left: 24px;
    }
    .header__text .menu-open{
        font-size: 12px;
        padding: 0px 24px;
    }
    .menu-exit {
        top: 29px;
        font-size: 12px;
        font-weight: 600;
        right: 24px;
    }
    .menu__background{
        font-size: 240px;
    }
    .menu__links {
        padding-left: 0px;
    }
    .menu__nav-link {
        font-size: 26px;
        letter-spacing: 0px;
    }
    .small-number {
        font-size: 10px;
        letter-spacing: 0px;
    } */

}
