/* SCROLLBAR */
::-webkit-scrollbar{
    width: 18px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(var(--primary-color), var(--tertiary-color));
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Orbitron:wght@400;500;600;700;800;900&display=swap'); 

@font-face {
    font-family: 'nasalization';
    src: url(../resources/nasalization-rg.otf);
}

:root{
    --background-color: #0D0D0C;
    --primary-color: #827AAB;
    --secondary-color: #C0A8B7;
    --tertiary-color: #4b4363;
    --quaternary-color: #502f5a;
    --text-color:  #F2F2F2;
    --button-color: #272727;

    
    --primary-font: 'nasalization', sans-serif;
    --secondary-font: 'Orbitron', sans-serif;
    --tertiary-font: 'Montserrat', sans-serif;

    --main-size__laptop: 6.5px;
    --main-size__tablet: 3.8px;
    --main-size__phone: 5px;

    --main-padding: 12em;
    --main-padding_small: 5.2em;
    --gallery-padding_small: 3em;
}

body{
    background-color: var(--background-color);
    font-family: var(--tertiary-font);
} 

/*********************
        PRELOADER
____________________*/
#loader{
    width: 100%;
    height: 100vh;
    background-color: var(--tertiary-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3000;
}
#loader img{
    image-rendering: auto;
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*********************
        HEADER
____________________*/

.header__open{
    z-index: 1000;
    cursor: pointer;
    user-select: none;
    position: fixed;
    font-size: 10px;
    right: 4em;
    padding: 5.5em 1.6em 1.6em 2.4em;
    border-radius: 0 0 1.4em 1.4em;
    border-bottom: solid  2px   var(--secondary-color);
    border-left: solid  2px   var(--secondary-color);
    border-right: solid  2px   var(--secondary-color);
    opacity: .9;
    background-color: var(--background-color);
    box-shadow: -3px 3px 6px var(--secondary-color);
    color: var(--secondary-color);
}
.header__open p{
    letter-spacing: 4px;
    font-size: 2.6em;
    font-family: var(--primary-font);
    font-weight: 900;
}
.logo{
    display: flex;
    font-size: 10px;
    padding-top: 4em;
    padding-left: 5em;
}
.logo img{
    width: 9.6em;
}
/*********************
        MENU
____________________*/
.menu {
    font-size: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: -120%;
    align-items: center;
    background-color: var(--primary-color);
    z-index: 1900;
}
.menu__background {
    opacity: 0;
    position: absolute;
    font-size: 50em;
    font-weight: 900;
    color: var(--secondary-color);
    user-select: none;
    z-index: 1;
    filter: blur(6px);
}
.menu__exit {
    cursor: pointer;
    user-select: none;
    opacity: .8;
    position: absolute;
    font-family: var(--primary-font);
    text-decoration: none;
    text-transform: uppercase;
    color: var(--background-color);
    font-weight: 900;
    font-size: 4em;
    right:1.4em;
    top: 1em;
}
.menu__links {
    opacity: 0;
    padding-left: 14em;
    z-index: 2000;
    padding-top: 28em;
}
.menu__links-nav {
    text-transform: uppercase;
    text-decoration: none;
    user-select: none;
    font-size: 8em;
    font-weight: 900;
    letter-spacing: 2px;
    color: var(--background-color);
}
.menu__links-contact {
    margin: 3.6em 0em;
}
.right {
    padding-right: 18em;
    z-index: 1000;
}
.menu__links-contact span{
    display: block;
    text-decoration: none;
    font-size: 3.5em;
    font-weight: 900;
    color: var(--background-color);
    letter-spacing: .5px;
}
.contact__text {
    text-decoration: none;
    font-size: 3.5em;
    font-weight: 700;
    color: var(--button-color);
}
.contact__rrss > a {
    padding-right: 1.5em;
    text-decoration: none;
    user-select: none;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--background-color);
    font-size: 3.5em;
    letter-spacing: 1px;
}





/*********************
        HOVER
____________________*/
@media (hover: hover) {
    .text-hover:hover{
        transition: all 0.3s ease-in-out;
        color: var(--secondary-color);
        text-shadow: 0 0 10px var(--secondary-color);
    }
    .header__open:hover{
        transition: all 0.3s ease-in-out;
        opacity: 1;
        background-color: var(--primary-color);
        box-shadow: -3px 3px 6px var(--primary-color);
        color: var(--background-color);
        border-bottom: solid  2px   var(--primary-color);
        border-left: solid  2px   var(--primary-color);
        border-right: solid  2px   var(--primary-color);
    }
    .menu__exit:hover{
        transition: all 0.3s ease-in-out;
        opacity: 1;
        color: var(--secondary-color);
        text-shadow: 0 0 10px var(--secondary-color);
    }
    .menu__links-nav:hover{
        transition: all 0.3s ease-in-out;
        padding-left: 20px;
        color: var(--secondary-color);
        text-shadow: 0 0 10px var(--secondary-color);
    }
}


/*********************
    SELECT - ACTIVE
____________________*/
.text-hover:active {
    transition: all 0.3s ease-in-out;
    color: var(--secondary-color);
    text-shadow: 0 0 10px var(--secondary-color);
}
.header__open:active{
    transition: all 0.3s ease-in-out;
    opacity: 1;
    background-color: var(--primary-color);
    box-shadow: -3px 3px 6px var(--primary-color);
    color: var(--background-color);
    border-bottom: solid  2px   var(--primary-color);
    border-left: solid  2px   var(--primary-color);
    border-right: solid  2px   var(--primary-color);
}
.menu__exit:active{
    transition: all 0.3s ease-in-out;
    opacity: 1;
    color: var(--secondary-color);
    text-shadow: 0 0 10px var(--secondary-color);
}
.menu__links-nav:active{
    transition: all 0.3s ease-in-out;
    color: var(--secondary-color);
    text-shadow: 0 0 10px var(--secondary-color);
}









/*********************
        LAPTOP
____________________*/
@media screen and (max-width: 1540px){
    ::-webkit-scrollbar{
        width: 14px;
    }
    #loader img{
        width: 18%;
    }
    .header__open{
        font-size: var(--main-size__laptop);
    }
    .menu{
        font-size: var(--main-size__laptop);
    }
    .logo{
        font-size: var(--main-size__laptop);
    }
}


/*********************
        TABLET
____________________*/
@media screen and (max-width: 966px){
    .header__open{
        font-size: var(--main-size__tablet);
    }
    .menu {
        font-size: var(--main-size__tablet);
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .right {
        display: none;
    } 
    .logo{
        font-size: var(--main-size__tablet);
    }
}





/*********************
        PHONE
____________________*/
@media screen and (max-width: 500px) {
    #loader img{
        width: 50%;
    }
    .header__open{
        font-size: var(--main-size__phone);
    }
    .menu {
        font-size: var(--main-size__phone);
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .right {
        display: none;
    }
    .menu__links {
        padding-left: 2.6rem;
    }
    .logo{
        font-size: var(--main-size__phone);
    }
}
