/* SCROLLBAR */
::-webkit-scrollbar{
    width: 2em;
} 
::-webkit-scrollbar-thumb{
    background: linear-gradient(var(--primary-colour), var(--secondary-colour));
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Orbitron:wght@400;500;600;700;800;900&display=swap'); 

@font-face {
    font-family: 'nasalization';
    src: url(../resources/nasalization-rg.otf);
}

:root{
    --background-color: #0D0D0C;
    --primary-colour: #827AAB;
    --secondary-colour: #C0A8B7;
    --tertiary-color: #4b4363;
    --text-colour:  #F2F2F2;

    --primary-font: 'nasalization', sans-serif;
    --secondary-font: 'Orbitron', sans-serif;
    --tertiary-font: 'Montserrat', sans-serif;

    --main-size__laptop: 7.2px;
    --main-size__tablet: 3.8px;
    --main-size__phone: 5px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background-color);
    font-family: var(--tertiary-font);
    font-size: 10px;
} 

/*********************
        PRELOADER
____________________*/
#loader{
    width: 100%;
    height: 100vh;
    background-color: var(--tertiary-color);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3000;
}
#loader img{
    image-rendering: auto;
    width: 36em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*********************
        HEADER
____________________*/
.header{
    font-size: 10px;
    background-color: var(--background-color);
    box-shadow: -1px 1px 2em var(--background-color);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1em 4em 1em 0;
    z-index: 1000;
}
.header__logo img{
    width: 24em;
}
.header__open{
    cursor: pointer;
    padding: 1em .5em 1em .5em;
    font-family:var(--primary-font);
    color: var(--text-colour);
    letter-spacing: 4px;
    font-weight: 900;
    font-size: 2.2em;
    opacity: .6;
}

/*********************
        MENU
____________________*/
.menu {
    font-size: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: -100%;
    align-items: center;
    background-color: var(--primary-colour);
    z-index: 1900;
}
.menu__background {
    opacity: 0;
    position: absolute;
    font-size: 50em;
    font-weight: 900;
    color: var(--secondary-colour);
    user-select: none;
    z-index: 1;
    filter: blur(6px);
}
.menu__exit {
    cursor: pointer;
    opacity: .8;
    position: absolute;
    font-family: var(--primary-font);
    text-decoration: none;
    text-transform: uppercase;
    color: var(--background-color);
    font-weight: 900;
    font-size: 4em;
    right: 1.4em;
    top: .8em;
}
.menu__links {
    opacity: 0;
    padding-left: 14em;
    padding-top: 10em;
    z-index: 2000;
}
.menu__links-nav {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 8em;
    font-weight: 900;
    letter-spacing: 2px;
    color: var(--background-color);
}
.menu__links-contact {
    margin: 4em 0em;
}
.right {
    padding-right: 18em;
    z-index: 1000;
}
.contact__text {
    text-decoration: none;
    font-size: 3.6em;
    font-weight: 700;
    color: var(--background-color);
    letter-spacing: 1px;
}
.contact__rrss > a {
    padding-right: 1.5em;
    text-decoration: none;
    font-weight: 700;
    color: var(--background-color);
    font-size: 3.4em;
}

/*********************
        FOOTER
____________________*/
.footer-row1{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-size: 10px;
    background-color: var(--tertiary-color);
    align-items: center;
    margin-top: 18em;
}
.footer-row1__logo{
    order: 2;
    flex: 33%;
    display: flex;
    justify-content: center;
}
.footer-row1__logo img{
    width: 44%;
}
.footer-row1__copy{
    order: 3;
    flex: 33%;
    display: flex;
    justify-content: center;
}
.footer-row1__copy p{
    font-weight: 400;
    padding-right: 6em;
    letter-spacing: 1px;
    color: var(--text-colour);
    font-size: 2.5em;
}

.footer-row1__contact{
    order: 1;
    flex: 33%;
    padding-left: 2.8em;
}
.footer-row1__contact-phone,
.footer-row1__contact-email,
.footer-row1__contact-rrss{
    padding:1em 0em;
}

.footer-row1__contact-phone a,
.footer-row1__contact-email a,
.footer-row1__contact-rrss a{
    font-weight: 500;
    text-decoration: none;
    color: var(--text-colour);
    font-size: 2.5em;
    padding-left: 2em;
    letter-spacing: 1px;
}

.footer-row2{
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    justify-content: center;
    background-color: var(--secondary-colour);
}
.footer-row2 p {
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: var(--background-color);
    padding: .5em;
    font-size: 1.8em;
}



















/*********************
        HOVER
____________________*/
@media (hover: hover) {
    .text-hover:hover{
        transition: all 0.4s ease-in-out;
        color: var(--secondary-colour);
    }
    .header__open:hover{
        transition: all 0.4s ease-in-out;
        opacity: 1;
        color: var(--text-colour);
        text-shadow: 0 0 10px var(--text-colour),
                     0 0 20px var(--text-colour),
                     0 0 40px var(--text-colour),
                     0 0 80px var(--text-colour),
                     0 0 120px var(--text-colour),
                     0 0 160px var(--text-colour);
    }
    .menu__exit:hover{
        transition: all 0.4s ease-in-out;
        opacity: 1;
        color: var(--secondary-colour);
        text-shadow: 0 0 10px var(--secondary-colour),
                     0 0 20px var(--secondary-colour),
                     0 0 40px var(--secondary-colour),
                     0 0 80px var(--secondary-colour),
                     0 0 120px var(--secondary-colour),
                     0 0 160px var(--secondary-colour);
    }
    .menu__links-nav:hover{
        transition: all 0.4s ease-in-out;
        padding-left: 20px;
    }
}


/*********************
    SELECT - ACTIVE
____________________*/
.text-hover:active {
    opacity: 1;
    transition: all 0.2s ease-in-out;
    color: var(--secondary-colour);
}
.header__open:active{
    transition: all 0.4s ease-in-out;
    opacity: 1;
    color: var(--text-colour);
    text-shadow: 0 0 10px var(--text-colour);
}
.menu__exit:active{
    transition: all 0.4s ease-in-out;
    opacity: 1;
    color: var(--secondary-colour);
    text-shadow: 0 0 10px var(--secondary-colour),
}



















/*********************
        LAPTOP
____________________*/
@media screen and (max-width: 1500px){
    body{
        font-size: var(--main-size__laptop);
    }
    .header{
        font-size: var(--main-size__laptop);
    }
    .menu{
        font-size: var(--main-size__laptop);
    }

    .footer-row1{
        font-size: var(--main-size__laptop);
    }

    .footer-row2{
        font-size: var(--main-size__laptop);
    }
}


/*********************
        TABLET
____________________*/
@media screen and (max-width: 966px){
    body{
        font-size: var(--main-size__tablet);
    }
    .header{
        font-size: var(--main-size__tablet);
    }
    .menu {
        font-size: var(--main-size__tablet);
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .right {
        display: none;
    }

    .footer-row1{
        font-size: var(--main-size__tablet);
    }
    .footer-row2{
        font-size: var(--main-size__tablet);
    }
}
















/*********************
        PHONE
____________________*/
@media screen and (max-width: 500px) {
    body{
        font-size: var(--main-size__phone);
    }
    .header{
        font-size: var(--main-size__phone);
    }
    .menu {
        font-size: var(--main-size__phone);
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .right {
        display: none;
    }
    .menu__links {
        padding-left: 2.6rem;
    }
    
    .footer-row1{
        font-size: var(--main-size__phone);
    }
    .footer-row1__logo{
        order: 1;
        flex: 100%;
        padding-top: 2em;
    }
    
    .footer-row1__contact{
        order: 2;
        flex: 100%;
        padding-bottom: 3em;
    }
    .footer-row1__contact-phone a,
    .footer-row1__contact-email a,
    .footer-row1__contact-rrss a{
        padding-left: 1em;
    }

    .footer-row1__copy{
        order: 3;
        flex: 100%;
    }
    .footer-row1__copy p{
        padding: 0em;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .footer-row2{
        font-size: var(--main-size__phone);
    }
}
