*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #2B0663;
    overflow: hidden;
}
/*********************
        HEADER
____________________*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    z-index: 1000;
}
.header__logo img{
    margin-left: 30px;
    width: 100px;
}
.header__text{
    display: flex;
    list-style: none;
}
.header__text .menu-open{
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 0px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: .3s ease-in-out;
}
.header__text .menu-open:hover{
    transition: .3s ease-in-out;
    color: #610de2;
    font-size: 700;
}

/*********************
        MENU
____________________*/
.menu {
    opacity: 0.3;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px;
    position: fixed;
    top: -100%;
    align-items: center;
    background-color: #2B0663;
    z-index: 1900;
}
.menu__background {
    font-family: 'Orbitron', sans-serif;
    position: absolute;
    font-size: 240px;
    font-weight: 900;
    color: #4b52e327;
    user-select: none;
    z-index: 1;
}
.menu-exit {
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 30px;
}

.nav-gsap {
    opacity: 0;
    margin-bottom: -20px;
} 

.menu__nav-link {
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
    z-index: 2000;
    color: #B0AA00;
}

.menu__nav-link:hover {
    color: #DE591D;
    transition: all 0.2s ease-in-out;
}

.small-number {
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    z-index: 1000;
}

.contact__title {
    font-size: 2rem;
    color: rgb(170, 151, 126);
}
.contact__subtitle {
    font-size: 2rem;
    color: rgb(170, 151, 126);
}

.right {
    padding-right: 100px;
    z-index: 1000;
}

.contact {
    margin-bottom: 24px;
}

.menu__links {
    z-index: 200;
}

.contact__rrss > a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

@media screen and (max-width: 660px) {
    .menu {
        flex-direction: column;
        justify-content: center;
    }

    .right {
        display: none;
    }
}
