@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto+Serif:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'nasalization';
    src: url(../resources/nasalization-rg.otf);
}

:root{
    --primary-colour: #1C0C5B;
    --secondary-colour: #C2BC17;
    --tertiary-color: #C996CC;
    --quaternary-color: #916BBF;
    --text-colour:  #eee2ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #180A0A;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Roboto Mono', monospace; */
  /*   font-family: 'Roboto Serif', serif; */
}
/*********************
        HEADER
____________________*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    z-index: 1000;
}
.header__logo img{
    margin-top: 0px;
    margin-left: 30px;
    width: 100px;
}
.header__text{
    font-family: 'nasalization', sans-serif;
    font-weight: 500;
    display: flex;
    list-style: none;
}
.header__text .menu-open{
    color: var(--text-colour);
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 4px;
    padding: 0px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

/*********************
        MENU
____________________*/
.menu {
    opacity: 0.3;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px;
    position: fixed;
    top: -100vh;
    align-items: center;
    background-color: var(--primary-colour);
    z-index: 1900;
}
.menu__background {
    font-family: 'nasalization', serif;
    position: absolute;
    font-size: 420px;
    font-weight: 900;
    color: #916bbf1f;
    user-select: none;
    z-index: 1;
}

.menu-exit {
    font-family: 'nasalization', serif;
    position: absolute;
    text-decoration: none;
    right: 60px;
    top: 60px;
    color: var(--secondary-colour);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 2px;
}

.nav-gsap {
    opacity: 0;
    margin-bottom: -20px;
} 

.menu__nav-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 80px;
    font-weight: 900;
    letter-spacing: 4px;
    z-index: 2000;
    color: var(--text-colour);
}

.small-number {
    font-family: 'Roboto Mono', monospace;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 4px;
    z-index: 1000;
}

.contact__title {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 2px;
    color: var(--tertiary-color);
}
.contact__subtitle {
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--text-colour);
    transition: all 0.4s ease-in-out;
}

.right {
    padding-right: 120px;
    z-index: 1000;
}

.contact {
    margin: 60px 0px;
}

.menu__links {
    padding-left: 60px;
    z-index: 200;
}

.contact__rrss > a {
    padding-right: 80px;
    text-decoration: none;
    font-size: 34px;
    font-weight: 800;
    letter-spacing: 2px;
    color: var(--tertiary-color);
    transition: all 0.4s ease-in-out;
}


/*********************
        HOVER
____________________*/
@media (hover: hover) {
    .text-hover:hover{
        transition: all 0.2s ease-in-out;
        color: var(--secondary-colour);
    }
    .menu-exit:hover{
        transition: all 0.2s ease-in-out;
        color: var(--tertiary-color);
    }
}

/*********************
    SELECT - ACTIVE
____________________*/
.text-hover:active {
    transition: all 0.2s ease-in-out;
    color: var(--secondary-colour);
}
.menu-exit:active{
    transition: all 0.2s ease-in-out;
    color: var(--tertiary-color);
}

/*********************
        LAPTOP
____________________*/
@media screen and (max-width: 1600px){
    .header__logo img{
        width: 100px;
        margin-top: 14px;
        margin-left: 40px;
    }
    .header__text .menu-open{
        font-size: 14px;
        padding: 0px 40px;
    }
    .menu-exit {
        right: 40px;
        top: 32px;
        font-size: 14px;
    }
    .menu__background{
        font-size: 240px;
    }
    .menu__links {
        padding-left: 28px;
    }
    .menu__nav-link {
        font-size: 48px;
        letter-spacing: 1px;
    }
    .small-number {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .right {
        padding-right: 100px;
    }
    .contact {
        margin: 40px 0px;
    }
    .contact__title {
        font-size: 24px;
        letter-spacing: 1px;
    }
    .contact__subtitle {
        font-size: 18px;
        letter-spacing: 1px;
    }
    .contact__rrss > a {
        padding-right: 40px;
        font-size: 24px;
        letter-spacing: 1px;
    }
}

/*********************
        TABLET
____________________*/
@media screen and (max-width: 1000px){
    .header__logo img{
        width: 130px;
    }
    .header__text .menu-open{
        font-size: 11px;
    }
    .menu-exit {
        font-size: 11px;
    }
    .menu__background{
        font-size: 140px;
    }
    .menu__links {
        padding-left: 22px;
    }
    .menu__nav-link {
        font-size: 36px;
    }
    .small-number {
        font-size: 16px;
        letter-spacing: 0px;
    }

    .right {
        padding-right: 20px;
    }
    .contact__title {
        font-size: 20px;
    }
    .contact__subtitle {
        font-size: 14px;
    }
    .contact__rrss > a {
        padding-right: 20px;
        font-size: 20px;
        letter-spacing: 1px;
    }
}

/*********************
        PHONE
____________________*/
@media screen and (max-width: 720px) {

    .menu {
        flex-direction: column;
        justify-content: center;
    }
    .right {
        display: none;
    }

    .header{
        height: 80px;
    }
 
    .header__logo img{
        width: 120px;
        margin-left: 24px;
    }
    .header__text .menu-open{
        font-size: 12px;
        padding: 0px 24px;
    }
    .menu-exit {
        top: 29px;
        font-size: 12px;
        font-weight: 600;
        right: 24px;
    }
    .menu__background{
        font-size: 240px;
    }
    .menu__links {
        padding-left: 0px;
    }
    .menu__nav-link {
        font-size: 26px;
        letter-spacing: 0px;
    }
    .small-number {
        font-size: 10px;
        letter-spacing: 0px;
    }
}
