@import url('main.css');


/*___________________________

                DISEÑO WEB 
___________________________________________*/ 
.web-dev{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        font-size: 10px;
        padding-right: var(--main-padding);
}
.web-dev__anim{
        flex: 52%;
        order: 2;
}
.web-dev__anim-lottie{
        width: 100%;
}
.web-dev__text{
        flex: 48%;
        order: 1;
        padding-top: 10em;
        padding-left: 4em;
}
.web-dev__text-title{
        font-family: var(--secondary-font);
        color: var(--primary-color);
        font-weight: 900;
        font-size: 11em;
}
.web-dev__text-description{
        color: var(--text-color-2);
        font-weight: 700;
        font-size: 2.8em;
        line-height: 1.4em;
        margin-bottom: 5em;
        margin-top: .4em;
        overflow: hidden;
        text-align: justify;
        letter-spacing: .5px;
        padding-right: 1em;
}
.web-dev__text-botton{
        text-decoration: none;
        font-size: 3em;
        letter-spacing: 1px;
        font-weight: 800;
        text-transform: uppercase;
        padding: 1em 1em;
        border-radius: .2em;
        background-color: var(--secondary-color);
        color: var(--quaternary-color);
        border: 1px solid var(--secondary-color);
        box-shadow: -.2em .2em 4px var(--quaternary-color);
        user-select: none;
}


/*___________________________

                CARTS 
___________________________________________*/ 
.carts-container{
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        font-size: 10px;
        padding: 0 18em; 
        overflow: hidden;
        margin-top: 12em;
        gap: 4em 4em ;
}
.cart-web{
        display: flex;
        height: 30em;
        padding: 4em 4em;
        border-radius: 1em;
        background-color: var(--tertiary-color);
        overflow: hidden;
        font-size: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        color: var(--text-color);
}
.cart-web__svg{
        font-size: 9em;
        color: var(--text-color);
}
.cart-web p{
        text-align: center;
        line-height: 1.6em;
        font-weight: 600;
        font-size: 2.4em;
        letter-spacing: .5px;
        color: var(--secondary-color);
}




@media (hover: hover){
        .web-dev__text-botton:hover{
                transition: all 0.3s ease-in-out;
                background-color: var(--quaternary-color);
                color: var(--secondary-color);
                border: 1px solid var(--quaternary-color);
                box-shadow: -.2em .2em 4px var(--secondary-color);
        }
}
.web-dev__text-botton:active{
        transition: all 0.3s ease-in-out;
        background-color: var(--primary-color);
        color: var(--background-color);
        border: 1px solid var(--primary-color);
        box-shadow: -.2em .2em 4px var(--secondary-color);
}










/*********************
        LAPTOP
____________________*/
@media screen and (max-width: 1540px){
        .web-dev{
                font-size: var(--main-size__laptop);
        }
        .carts-container{
                font-size: var(--main-size__laptop);
        }
        .cart-web{
                font-size: var(--main-size__laptop);
        }
        
}


/*********************
        TABLET
____________________*/
@media screen and (max-width: 966px){
        .web-dev{
                font-size: var(--main-size__tablet);
        }
        .carts-container{
                font-size: var(--main-size__tablet);
        }
        .cart-web{
                font-size: var(--main-size__tablet);
        }
}






/*********************
        PHONE
____________________*/
@media screen and (max-width: 500px) {
        .web-dev{
                font-size: var(--main-size__phone);
                padding: 0;
        }
        .web-dev__anim{
                flex: 100%;
                order: 1;
                padding-right: 7em;
                padding-top: 6em;
                margin-bottom: -6em;

        }
        .web-dev__text{
                flex: 100%;
                order: 2;
                padding-left: var(--main-padding_small);
                padding-right: var(--main-padding_small);
        }
        .web-dev__text-title{
                font-size: 8em;
        }
        .web-dev__text-description{
                margin-bottom: 3em;
        }
        .carts-container{
                font-size: var(--main-size__phone);
                grid-template-columns: auto auto;
                grid-template-rows: auto auto auto;
                padding-left: var(--main-padding_small);
                padding-right: var(--main-padding_small);
                margin-top: 18em;
        }
        .cart-web{
                font-size: var(--main-size__phone);
        }

}